<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,638},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>54.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,612},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-102.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,532},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-103.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,904},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-104.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,758},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-105.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,612},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-106.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,904},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-107.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,758},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-108.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,612},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-109.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,506},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-10a.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,426},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-10b.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,426},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-10c.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,426},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-10d.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,798},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-10e.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,652},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-202.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,506},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-203.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,360},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-204.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,320},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-205.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,320},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-206.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,320},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-207.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,320},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-208.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,214},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-209.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,214},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-20a.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,214},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-20b.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,214},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-20c.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,214},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-20d.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,798},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-20e.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,652},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-302.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,506},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-303.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,360},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-304.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,214},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-305.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,108},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-306.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,108},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-307.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,108},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-308.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,108},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-309.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,108},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-30a.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,838},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-30b.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,692},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-30c.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,546},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-30d.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,400},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-30e.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,254},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-402.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,108},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-403.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-404.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-405.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-406.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-407.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-408.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-409.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-40a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-40b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-40c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-40d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-40e.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>card-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edd983df1cbb5bae03b1fee244666346:1/1$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
